body { 
  font-family: Verdana,sans-serif;
  margin: 0px;
}

.header {
  border-bottom: solid 2px #93D411;
  padding: 0.5em;
  background-color: #C2E973;
}

.header h1 {
  margin: 0.3em;
}

.content {
  margin: 0.5em;
}

.trial-link {
  padding: 5px;
}

.trial-information div {
  padding: 5px 5px 5px 5px;
  margin: 5px;
}

.publication-status .found {
  background-color: #E0FA71;
  border: solid 2px #8AA325;
}

.publication-status .unknown {
  background-color: #D9D9D9;
  border: solid 2px #B3B3B3;
}

.publication-status .not-found {
  background-color: #F18077;
  border: solid 2px #E32112;
}

.history {
  background-color: #D9D9D9;
  border: solid 2px #B3B3B3;
}

/* Navigation */
ul.nav {
  list-style-type: none;
  position: absolute;
  right: 1em;
  top: 0.5em;
}

ul.nav li, 
ul.nav li form,
ul.nav li label, 
ul.nav li input {
  display: inline;
}

/* Pagination */

.pagination a {
  padding: 0.3em;
}
