%h2 Clinical Trials
%p The following trials completed more than three years ago and have not yet been published.
= will_paginate @trials
= render :partial => 'trial', :collection => @trials
= will_paginate @trials
